<h1>Your Results</h1>
<tbody>
  <% @results.reverse_each do |result| %>
    <tr>
        <td><h3><%= result.questionnaire.name %></h3></td><br>
        <td>Total Score: <%= result.rating %></td><br>
        <td><%= link_to "See Category Ratings", result_path(result.questionnaire, result), class: "category_rating" %></td>
        <div id="result-hook-<%= result.id %>"></div>
    </tr>
    <hr>

  <% end %>
</tbody>

<script type="text/javascript">
  function CategoryRating(categoryName, rating) {
    this.categoryName = categoryName;
    this.rating = rating;
    this.toPage = function() {
      return `<h4>${categoryName}</h4><br /><p>Rating: <strong>${rating}</strong></p><hr />`
    }
  }
  for (var e = 0, m = $('a.category_rating').length; e < m; e++) {
    $('a.category_rating').eq(e).on('click', function(event) {
      event.preventDefault()
      $.get(this.href, function(data) {
        for (var i = 0, l = data["category_ratings"].length; i < l; i++) {
          var category_name = data["category_ratings"][i]["category"]["name"]
          var rating = data["category_ratings"][i]["rating"]
          var category_rating = new CategoryRating(category_name, rating);
          // debugger
          $(`#result-hook-${data["id"]}`).append(category_rating.toPage())
        }
      })

    })
  }
</script>
