<div class="question_form">
  <div class="body_field">
    <%= question.label :body %><br>
    <%= question.text_field :body %>
  </div>
  <div class="category_field">
    <%= question.label :category %><br>
    <%= question.collection_select :category_id, Category.all, :id, :name %><hr>
  </div>
</div>
