<hr>
<h4>Next Question</h4>
<div class="question_form">
  <div class="body_field">
    <label for="">Body</label><br>
    <input type="text" name="questionnaire[questions][body]" id="questionnaire_questions_body">
  </div>
  <div class="category_field">
    <label for="">Category</label><br>
    <select name="questionnaire[questions][category_id]" id="questionnaire_questions_category_id">
      <option value="1">Physical</option>
      <option value="2">Sleep</option>
      <option value="3">Mood</option>
      <option value="4">Cognition</option>
      <option value="5">Leisure</option>
      <option value="6">Social</option>
      <option value="7">Spirituality</option>
      <option value="8">Finances</option>
      <option value="9">Household</option>
      <option value="10">Self-esteem</option>
      <option value="11">Independence</option>
      <option value="12">Identity</option>
      <option value="13">Work</option>
      <option value="14">Education</option>
    </select>
  </div>
</div>
