<h2>All Questionnaires</h2>

<% @questionnaires.each do |questionnaire| %>
  <%= content_tag(:p, questionnaire.name )%>
  <%= content_tag(:p, "User: #{questionnaire.user.name}" )%>
  <%= link_to "Edit", edit_questionnaire_path(questionnaire) %><hr>
<% end %>
